html {
  background-color:rgb(25,30,35);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  color:rgb(200,200,200);
  justify-content:center;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body {
  width: 35%;
  margin:0 auto;
}
html::-webkit-scrollbar {
  display:none;
}
a{
  text-decoration: none;
  color:rgb(220,150,100);
  font-weight:300;
  font-size:2em;
}
#myInput {
  background-color:rgb(55,60,65);
  color:rgb(200,200,200);
  border-radius: 5px;
  border:0;
  width: 100%;
  font-size: 30px;
  margin-bottom: 12px;
}
#someButton {
  width:99%;
  border-radius: 5px;
  height:42px;
  font-size: 20px;
  background-color:rgb(55,60,75);
  border:0;
  color:rgb(200,200,200);
}
#bill {
  background-color:rgb(55,60,65);
  border-radius: 5px;
  border:0;
  text-align:center;
  color:rgb(200,200,200);
  width: 99%;
  font-size: 30px;
}
#title{
  height:5%;
}
#content{
  height:75%;
  overflow-y:scroll;
  -ms-overflow-style: none;
  scrollbar-width: none; 
}
#content::-webkit-scrollbar {
  display:none;
}
#diva{
  width:100%;
  height:100%;
  padding: 12px;
}
@media (max-width:1400px){
  #title{
    height:15%;
  }
  #content{
    height:60%;
  }
  html{
    font-size:2em;
  }
  body{
    font-size:2em;
    width: 100%;
    margin:auto;
  }
  tr td{
    font-size:2em;
  }
}
#container{
  position:relative;
  width:100%;
  height:100%;
}
#myTable {
    border-collapse: collapse;
    width: 100%;
}
#myTable2 {
  border-collapse: collapse;
  width: 100%;
}
  #myTable th, #myTable td {
  text-align: left;
}
#myTable tr.header, #myTable tr:hover {
  background-color: rgb(35,40,45);
}
